body {
  background-color: #F3F1F5
}

h2 {
  background-color: #263859;
  padding: 5px;
  color: #F3F9FB;
  text-align: justify;
}

hr {
  border-style: none;
  border-width: 2px;
  border-top-style: dotted;
  width: 96%;
}

img {
  height: 150px;
}

.photos {
  height: 250px;
  width: 400px;
}

.photos:hover {
  border-radius: 10%;
  height: 270px;
  width: 420px;
}
